<div class="media">
  <div class="media-body">
    <small>
      <%= @new_comment.user.name %> commented <%= time_ago_in_words(@new_comment.created_at) %> ago
      <% if user_is_authorized_for_comment?(@new_comment) %> |
        <%= link_to "Delete", [@new_comment], method: :delete %>
      <% end %>

    </small>
      <p><%= @new_comment.body %></p>
  </div>
</div>
